
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                    font: Helvetica, sans-serif;
                    color: rgb(233, 220, 220);
                    background-color: #333;
                }
            /* .thead-dark{
                
            } */
            table, tr, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table class="table" style="width: 100%;">
            <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, length) %}
                  <tr>
                      <th scope="row">{{  i+1 }}</th>
                      <td>{{ username[i] }}</td>
                      <td>{{ password[i] }}</td>
                      <td>{{ stamps[i] }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>